.idea
*.pyc
*.xpi
*.json
!fortia-server/package.json
*.csv
node_modules/
fortia-server/fortia_server/static/build/
npm-debug.log
.ipynb_checkpoints/
firefox-addon/node_modules
firefox-addon/data/build
