<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Fortia Demo Server</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Fortia</h1>
            <p>
                Fortia is an open source Firefox extension for automatic data extraction.
            </p>
            <p>
                Go to a web page and click on data you want to extract - Fortia
                will extract similar data from all other pages.
            </p>
            <p>
                Techical details: under the hood Fortia uses
                <a href="https://github.com/scrapy/scrapely">Scrapely</a> library.
                To activate the extension create a link with <code>fortia:</code> protocol.
            </p>
            <p>
                <a class="btn btn-success btn-lg" href="{{ fortia_url }}" target="_blank" role="button">Try Fortia</a>
            </p>
        </div>
    </div>
</body>
</html>
