
/*
html {
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
}
*/

.navbar-inverse .navbar-brand {
/*  color: #fac0ba; */
    color: #ffffff;
    cursor: default;
}


.dropdown-menu {
    min-width: 136px;
}
